<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <style type="text/css">
    body{
        background-color: #87ceeb;
    }
    .row{
        max-width: 50%;
        margin: 5vw auto;
    }
    .panel-body{
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }
    textarea {
    resize: none;
    }  
  </style>
  <script type="text/JavaScript">
    function countLength( text, field ) {
      document.getElementById(field).innerHTML = text.length;
    }
  </script>
</head>
<body>
  
      <% unless session[:user] %>

<nav class="navbar navbar-default">
  <div class="container-fluid">

  <ul class="nav navbar-nav navbar-left">
    <li><a href="/"><img alt="Brand" src="/assets/images/titlelogo.png" style="max-height: 40px;"></a></li>
  </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> 新規登録</a></li>
      <li><a href="/signin"><span class="glyphicon glyphicon-log-in"></span> ログイン</a></li>
    </ul>
  </div>
</nav>

<% else %>

    <nav class="navbar navbar-default">
  <div class="container-fluid">

  <ul class="nav navbar-nav navbar-left">
    <li><a href="/"><img alt="Brand" src="/assets/images/titlelogo.png" style="max-height: 40px;"></a></li>
  </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if User.find(session[:user]).user_icon %>
      <li><a href="#"><img alt="Brand" src="<%= User.find(session[:user]).user_icon %>" id="user_icon" style="height: 40px; width: 40px;"></a></li>
      <% else %>
      <li><a href="#"><img alt="Brand" src="/assets/images/icon_def.png" id="user_icon" style="height: 40px; width: 40px;"></a></li>
      <% end %>
    </ul>
  </div>
</nav>

<% end %>


  
  
  <div class="row">
	<div class="col-lg-8 col-lg-offset-2">
	<div class="panel panel-default">
	<div class="panel-body">
    <h1>編集</h1>
    <br>
    <form action="/renew/img/<%= @content.id %>" method="post" enctype="multipart/form-data">
      
      <div class="form-group">
        <label for="img">アップロード</label>
        <input type="file" class="form-control-file" id="img" name="img" accept="image/*">
    　</div>
      
    　<div class="form-group">
        <label for="img_description">説明</label>
        <textarea class="form-control" rows="1" id="img_description" name="img_description" placeholder="20文字以内" onKeyUp="countLength(value, 'description_length');"><%= @content.img_description %></textarea>
        <p id="description_length" style="text-align: right;">0</p>
      </div>
  
      <button class="btn btn-success" type="submit">編集完了</button>
      <button class="btn btn-danger" type="reset">元に戻す</button>
    </form>
    </div>
    </div>
    </div>
    </div>
</body>
</html>