<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Printia</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <style type="text/css">
      body{
          background-color: #87ceeb;
      }
      .row{
          max-width: 50%;
          margin: 5vw auto;
      }
      .panel-body{
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
      }
  </style>
</head>
<body>
  <div class="row">
	<div class="col-lg-8 col-lg-offset-2">
	<div class="panel panel-default">
	<div class="panel-body">
    <h1>サインアップ</h1>
    <br>
    <form action="/signup" method="post" enctype="multipart/form-data">
        <div class="form-group">
        <label for="userid">ユーザーID</label><font color="red">*</font>
        <input type="text" class="form-control" id="userid" name="username" placeholder="半角英数字5文字以上15文字以内">
        </div>
        <div class="form-group">
        <label for="usermail">メールアドレス</label><font color="red">*</font>
        <input type="text" class="form-control" id="usermail" name="mail" placeholder="name@example.com">
        </div>
        <div class="form-group">
        <label for="userpass">パスワード</label><font color="red">*</font>
        <input type="password" class="form-control" id="userpass" name="password" placeholder="7文字以上15文字以内">
        </div>
        <div class="form-group">
        <label for="userpassconfirmation">パスワード確認</label><font color="red">*</font>
        <input type="password" class="form-control" id="userpassconfirmation" name="password_confirmation">
        </div>
        <div class="form-group">
        <label for="usericon">ユーザーアイコン (正方形推奨)</label>
        <input type="file" class="form-control-file" id="usericon" name="user_icon" accept="image/*">
      　</div>
        <button class="btn btn-success" type="submit">新規登録</button>
        <button class="btn btn-danger" type="reset">リセット</button>
    </form>
    </div>
    </div>
    </div>
    </div>
</body>
</html>